---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about me">
  <div class="page framed">
    <h1>About Me</h1>
    <p>
      Hi, I'm the2nake (consequence of a tragic typo). My interests include control theory,
      embedded programming, and competitive robotics. This is my portfolio.
    </p>

    <p>
      I'm currently studying engineering at the <a
        href="https://www.engin.umich.edu/">University of Michigan</a
      >.
    </p>
  </div>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
</style>
