---
import type { NavLink } from '~/types'
import siteConfig from '~/site.config'

interface Props {
  link: NavLink
}

const { link } = Astro.props
const url = link.external ? link.url : siteConfig.base + link.url
---

<a
  rel={link.external ? 'noopener noreferrer' : undefined}
  target={link.external ? '_blank' : undefined}
  href={url}
>
  {`[${url == Astro.url.pathname ? "> " : ""}${link.name.toLowerCase()}]`}
</a>
