body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
}

section {
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    padding: 0 12px 12px 12px;
    margin: 12px 0;
}

section:first-of-type {
    margin-top: 0;
}

section.with-demo-left {
    width: calc(60% - 24px - 6px);
    float: left;
    clear: left;
}

section.with-demo-right {
    width: calc(60% - 24px - 6px);
    float: right;
    clear: right;
}

.demo-left {
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    padding: 12px;
    margin: 12px 0;
    width: calc(40% - 24px - 12px);
    float: left;
    clear: left;
}

.demo-right {
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    padding: 12px;
    margin: 12px 0;
    width: calc(40% - 24px - 12px);
    float: right;
    clear: right;
}

a {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: orangered;
}

.demo {
    float: left;
}

.download-button {
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    margin: 0 8px 0 8px;
    padding-left: 36px;
    background-color: aquamarine;
    border-radius: 4px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black !important;
    background-image: url("../images/download.svg#arrow-with-bar");
    background-repeat: no-repeat;
    background-position: 12px;
}

.web-button {
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    margin: 0 8px 0 8px;
    padding-left: 36px;
    background-color: aquamarine;
    border-radius: 4px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black !important;
    background-image: url("../images/cloud.png");
    background-repeat: no-repeat;
    background-position: 12px;
}

.download-button:hover, .web-button:hover {
    filter: drop-shadow(0 0 5px white);
}